/* Footer Headings - White & Premium */
.footer-heading {
  font-size: 1.4rem;
  font-weight: 800;
  color: white !important;
  margin-bottom: 1.5rem;
  position: relative;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}


.footer-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110px;
  height: 3px;
  background: linear-gradient(90deg, #151515, #d8d8d8);
  border-radius: 1px;
}